.message {
    margin: 30px 123px;
    background: #FFFFFF;
    box-shadow: 0 7px 64px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    width: 60%;
    /*justify-content: center;*/
    /*align-content: center;*/
    /*align-items: center;*/
}

.success {
    color: #49C2E8;
}

.error {
    color: #FF0000;
}

@media screen and (max-width: 335px) {
    .message {
        margin: 30px 20px;
        width: 335px;
    }
}