.student-field {
    display: grid;
    grid-template-columns: 9% 25% 25% 12% 10% 8% 8%;
    font-size: 15px;
    height: 50px;
    margin: 0 10px 20px 0;
    align-items: center;
    font-weight: 400px;
}

.rating_label, .student-field_divider {
    display: none;
}

.items-container, .info {
    padding: 36px;
    background: #FFFFFF;
    box-shadow: 0 7px 64px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
}

.items-container::-webkit-scrollbar {
    display: none;
}

.info {
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.student-field__photo {
    grid-column-start: 1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: darkgray;
    font-size: 10px;
    overflow: hidden;
    grid-row-start: 1;
    grid-row-end: 4;
}

.student-field__photo img {
    width: inherit;
    height: inherit;
    border-radius: 50%;
    object-fit: cover;
}

.delete-button {
    background-color: #FFFFFF;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    grid-column-start: 8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-button:focus, .delete-button:active, .delete-button:hover {
    outline: none;
    box-shadow: 0 0 10px 7px rgba(0, 0, 0, 0.1);
}

.delete-button:active {
    background: darkgray;
}

@media screen and (max-width: 690px) {
    .student-field {
        border-radius: 6px;
        display: grid;
        padding: 0 0 0 10px;
        gap: 10px;
        width: 325px;
        grid-template-columns: 40px 12px 12px 50px 100px 30px;
        grid-template-rows: 25px 25px 2px 13px 13px 13px;
        font-size: 11px;
        height: 170px;
        margin: 0 10px 20px 0;
        align-items: center;
        box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
    }

    .fields_names__speciality, .fields_names__age, .fields_names__group {
        grid-column-start: 3;
        grid-column-end: 6;
    }

    .fields_names__speciality {
        grid-row-start: 5;
    }

    .fields_names__group {
        grid-row-start: 6;
    }

    .fields_names__age {
        grid-row-start: 4;
        grid-column-start: 3;
    }

    .fields_names__age::before, .fields_names__speciality::before, .fields_names__group::before {
        border-radius: 50%;
        width: 6px;
        height: 6px;
        background-color: #49C2E8;
        content: '';
        position: absolute;
        left: 84px;
    }

    .student-field .color {
        grid-column-start: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        width: 12px;
        height: 12px;
    }

    .student-field__photo {
        grid-column-start: 1;
        width: 40px;
        height: 40px;
    }

    .rating_label {
        display: block;
        grid-column-start: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        width: 12px;
        height: 12px;
    }

    .fields_names__rating {
        grid-column-start: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .fields_names__name {
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 3;
        overflow: hidden;
    }

    .delete-button {
        grid-column-start: 6;
        grid-row-start: 1;
        grid-row-end: 4;
    }

    .items-container {
        width:335px;
        padding: 0;
        height: 100%;
        box-shadow: none;
    }

    .student-field_divider {
        display: block;
        height: 1px;
        width: 335px;
        background: #000000;
        margin: -10px;
        grid-column-start: 1;
        grid-row-start: 3;
        opacity: 0.05;
    }

    .fields_names {
        display: none;
    }
}

@media screen and (min-width: 605px){
    .student-field {
        font-size: 13px;
    }

    .student-field__photo {
        width: 30px;
        height: 30px;
    }

    .rating_label {
        display: none;
    }
}

.fields_names__group, .fields_names__speciality, .fields_names__name {
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}