input[type='text'], input[type='email'], input[type='number'], .ant-input-number-input,
.fields-container__speciality, .fields-container__sex {
    box-shadow: 0 7px 64px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
    border: none;
    background-color: white;
    height: 48px;
    width: 360px;
    -webkit-appearance:none;
}

.fields-container__speciality, .fields-container__sex  {
    padding-left: 10px;
    width: 380px;
}

.photo-picker {
    height: 82px;
    width: 82px;
    border: #9a9a9a dotted 2px;
    border-radius: 50%;
    margin-right: 30px;
}

.photo-field-container {
    display: flex;
    justify-content: start;
    align-items: center;
    text-decoration: underline;
}

.fields-container {
    height: 460px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.fields-container div[role='alert'] {
    height: 3px;
    font-size: 12px;
    color: red;
    margin: 0 0 20px 0;

}

.fields-container input, .fields-container select, .fields-container .colors {
    margin: 10px 0;
}

input:hover, input:focus, select:hover, select:focus {
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
}

.ant-input-number-handler-wrap {
    display: none;
}

.colors {
    background: #FFFFFF;
    box-shadow: 0 7px 64px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
    height: 48px;
    width: 380px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.color {
    width: 30px;
    height: 30px;
    opacity: 0.7;
    border-radius: 50%;
    margin: auto;
}

.colors input[type=radio]:checked + label {
    border: #49C2E8 2px solid;
}

.colors input[type=radio] {
    display: none;
}

.red {
    background: red;
}

.yellow {
    background: yellow;
}

.green {
    background: green;
}

.blue {
    background: blue;
}

.black {
    background: black;
}

.lgbt {
    background: linear-gradient(180deg, #FE0000 16.66%, #FD8C00 16.66%, #FFE500 33.32%, #119F0B 49.98%, #0644B3 83.3%, #C22EDC 83.3%);
}

@media screen and (max-width: 690px){
    .fields-container {
        flex-wrap: nowrap;
        height: 100%;
    }

    .student-form {
        height: 100%;
    }

    input[type='text'], input[type='email'], input[type='number'],
    input, .fields-container__group, .ant-input, .ant-input-number-input
    {
        width: 315px;
    }

    .fields-container__speciality, .fields-container__sex, .colors {
        width: 335px;
    }

    select {
        width: 357px;
    }

    .fields-container div[role='alert'] {
        height: 3px;
        font-size: 10px;
        margin: 0 0 20px 0;
    }
}

.ant-upload-list-item-name {
    width: 60px;
    text-overflow: ellipsis;
}
