
@font-face {
    font-family: 'Geometria';
    src: url('fonts/geometria/Geometria.eot');
    src: url('fonts/geometria/Geometria.eot?#iefix') format('embedded-opentype'),
    url('fonts/geometria/Geometria.woff') format('woff'),
    url('fonts/geometria/Geometria.ttf')  format('truetype');
}

body {
    font-family: 'Geometria', 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.app-button {
    padding: 15px 20px;
    background: #49C2E8;
    border-radius: 10px;
    border: none;
    width: 380px;
    height: 50px;
    color: white;
    line-height: 20px;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    /*column-gap: 20px;*/
}

.app-button_transparent {
    background-color: transparent;
    border: none;
    width: 280px;
    height: 16px;
    color: black;

    text-transform: uppercase;
    line-height: 15px;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    justify-content: start;
}


.app-button:active, .app-button:focus, .app-button_transparent:active, input:focus,
.app-button_transparent:focus, select {
    outline: none;
}

.app-button:hover, .app-button_transparent:hover, input:hover, input:focus {
    box-shadow: 0 0 10px 7px rgba(0, 0, 0, 0.1);
}

.app-button:active, .app-button_transparent:focus {
    box-shadow: inset 0 0 20px 5px rgba(0, 0, 0, 0.1);
}

input {
    padding-left: 20px;
}

@media screen and (max-width: 690px) {
    .app-button, .app-button_transparent {
        width: 335px;
    }

    .app-button_transparent {
        font-size: 10px;
    }
}