.student-field {
    display: grid;
    grid-template-columns: 60px 300px 200px 200px 120px 120px 60px 60px;

    height: 50px;
    margin: 0 10px 20px 0;
    align-items: center;
}

.items-container, .info {
    padding: 36px;
    background: #FFFFFF;
    box-shadow: 0 7px 64px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.student-field__name {
    grid-column-start: 2;
}

.student-field__speciality {
    grid-column-start: 3;
}

.student-field__group {
    grid-column-start: 4;
}

.student-field__age {
    grid-column-start: 5;
}

.student-field__rating {
    grid-column-start: 6;
}

.student-field__photo {
    grid-column-start: 1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: darkgray;
}

.student-field__photo img {
    width: inherit;
    height: inherit;
    border-radius: 50%;
    object-fit: cover;
}

.delete-button {
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    grid-column-start: 8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-button:focus, .delete-button:active, .delete-button:hover {
    outline: none;
    box-shadow: 0 0 10px 7px rgba(0, 0, 0, 0.1);
}

.delete-button:active {
    background: darkgray;
}
